<template>
  <AppLayout :show-back-button="true">
    <nav class="w-full max-w-md mx-auto -mt-28 px-2 sm:px-0">
      <UserProfileCardSkeleton v-if="state.userLoading" />

      <UserProfileCard :user="state.user" v-if="!state.userLoading && state.user" />
    </nav>

    <main class="w-full max-w-md mx-auto py-12 px-2 sm:px-0 pb-20">
      <div class="grid items-center grid-cols-3 gap-4 px-4 mt-4">
        <template v-if="state.userLoading || state.repositoriesLoading || state.gettingRepositoryLanguages">
          <LanguageItemSkeleton
            :order="index === 0 ? 2 : index === 2 ? 3 : index"
            :key="index"
            v-for="(_, index) in [1, 2, 3]"
          />
        </template>

        <template v-if="!state.gettingRepositoryLanguages && state.repositoryLanguages.length > 0">
          <LanguageItem
            :language="language"
            :order="index === 0 ? 2 : index === 2 ? 3 : index"
            :key="language.name"
            v-for="(language, index) in state.repositoryLanguages.slice(0, 3)"
          />
        </template>
      </div>
    </main>

    <span
      class="fixed bottom-0 h-20 w-full flex items-center justify-center"
      data-html2canvas-ignore
      v-if="!state.gettingRepositoryLanguages && state.repositoryLanguages.length > 0"
    >
      <ScreenshotButton />
    </span>
  </AppLayout>
</template>

<script setup>
import { reactive, onMounted } from 'vue'
import axios from 'axios'
import NProgress from 'nprogress'

import _axios from '../../utils/_axios'
import { asyncForEach } from '../../utils/_utils'

import AppLayout from '../../layouts/AppLayout.vue'

import UserProfileCard from '../../components/UserProfileCard.vue'
import UserProfileCardSkeleton from '../../components/UserProfileCardSkeleton.vue'
import LanguageItem from '../../components/LanguageItem.vue'
import LanguageItemSkeleton from '../../components/LanguageItemSkeleton.vue'
import ScreenshotButton from '../../components/ScreenshotButton.vue'

const { username } = defineProps([
  'username',
])

const state = reactive({
  user: null,
  userLoading: true,
  userLoadingErrorMessage: '',

  repositories: [],
  repositoriesLoading: false,
  repositoriesLoadingErrorMessage: '',

  repositoryLanguages: [],
  gettingRepositoryLanguages: false,
  gettingRepositoryLanguagesErrorMessage: false,
})

const sortLanguagesBySize = () => {
  state.repositoryLanguages = state.repositoryLanguages.sort((a, b) => b.size - a.size)
}

const addLanguageToLanguages = (name, size) => {
  const isHaveThisLanguage = state.repositoryLanguages.some((language) => language.name === name)

  if (isHaveThisLanguage) {
    state.repositoryLanguages = state.repositoryLanguages.map((language) => {
      if (name === language.name) {
        return {
          name: language.name,
          size: language.size + size
        }
      }

      return language
    })
  } else {
    state.repositoryLanguages.push({ name, size })
  }
}

const getUser = async () => {
  try {
    state.userLoading = true

    const response = await _axios(`users/${username}`)

    state.user = {
      id: response.data.id,
      name: response.data.name,
      login: response.data.login,
      avatar_url: response.data.avatar_url,
      repos_url: response.data.repos_url,
      avatar_url_blob: null,
    }

    // github'ın verdiği avatar url'si ile screenshot alınamadığı için bloba çeviriyoruz
    axios(response.data.avatar_url, { responseType: 'blob' })
      .then((response) => {
        state.user.avatar_url_blob = URL.createObjectURL(response.data)
      })
  } catch (error) {
    console.error('error', error)
    state.userLoadingErrorMessage = 'Repositoriler yüklenirken bir hata oluştu :/'
  } finally {
    state.userLoading = false
  }
}

const getUserRepositories = async () => {
  try {
    state.repositoriesLoading = true

    const response = await _axios(state.user.repos_url, {
      params: {
        per_page: 100,
      }
    })

    state.repositories = response.data.map((repository) => ({
      id: repository.id,
      name: repository.name,
      full_name: repository.full_name,
      size: repository.size,
      languages_url: repository.languages_url,
      languages: null,
    }))
  } catch (error) {
    console.error('error', error)
    state.repositoriesLoadingErrorMessage = 'Repositoriler yüklenirken bir hata oluştu :/'
  } finally {
    state.repositoriesLoading = false
  }
}

const getRepositoryLanguages = async () => {
  try {
    NProgress.start()

    state.gettingRepositoryLanguages = true

    let countFetchedRepositoryLanguages = 0

    await asyncForEach(state.repositories, async (repository) => {
      const response = await _axios(repository.languages_url)

      // add languages to language
      for (const name in response.data) {
        const size = response.data[name]

        addLanguageToLanguages(name, size)
        sortLanguagesBySize()
      }

      countFetchedRepositoryLanguages++

      NProgress.set(Number((countFetchedRepositoryLanguages * 100 / state.repositories.length).toFixed(2)) / 100)
    })

    NProgress.done()
  } catch (error) {
    console.error('error', error)
    state.gettingRepositoryLanguagesErrorMessage = 'Repository dilleri yüklenirken bir hata oluştu :/'
  } finally {
    state.gettingRepositoryLanguages = false
  }
}

const init = async () => {
  await getUser()
  await getUserRepositories()
  await getRepositoryLanguages()
}

onMounted(init)
</script>
