<template>
  <AppLayout>
    <nav class="w-full max-w-md mx-auto -mt-5 px-2 sm:px-0">
      <SearchInput
        ref="searchInputRef"
        v-model="state.searchQuery"
        @input="handleInput"
      />
    </nav>

    <main class="w-full max-w-md mx-auto py-12 px-2 sm:px-0">
      <template v-if="!state.searching && state.searchingErrorMessage">
        <p class="text-center text-red-500">
          {{ state.searchingErrorMessage }}
        </p>
      </template>

      <template v-if="state.searching">
        <div class="grid sm:grid-cols-2 gap-2 sm:gap-4 mx-auto">
          <UserItemSkeleton
            :key="i"
            v-for="i in 5"
          />
        </div>
      </template>

      <template v-if="!state.searching && !state.searchingErrorMessage && state.searchResult.length > 0">
        <div class="grid sm:grid-cols-2 gap-2 sm:gap-4 mx-auto">
          <UserItem
            :user="user"
            :key="user.id"
            v-for="user in state.searchResult"
          />
        </div>
      </template>
    </main>
  </AppLayout>
</template>

<script setup>
import { reactive, ref, onMounted } from 'vue'

import _axios from '../../utils/_axios'

import AppLayout from '../../layouts/AppLayout.vue'

import SearchInput from '../../components/SearchInput.vue'
import UserItem from '../../components/UserItem.vue'
import UserItemSkeleton from '../../components/UserItemSkeleton.vue'

const searchInputRef = ref(null)

const state = reactive({
  searchQuery: '',
  searchResult: [],
  searching: false,
  searchingErrorMessage: '',

  debounceTimeout: false,
})

const handleSearchUser = async () => {
  try {
    state.searching = true

    const response = await _axios('search/users', {
      params: {
        q: state.searchQuery,
      }
    })

    if (response.data.items.length === 0) {
      state.searchingErrorMessage = 'No user for your query'
    }

    state.searchResult = response.data.items.map((user) => ({
      id: user.id,
      login: user.login,
      type: user.type,
      avatar_url: user.avatar_url,
    }))
  } catch (error) {
    if (error.response.data.message) {
      state.searchingErrorMessage = error.response.data.message
    } else {
      state.searchingErrorMessage = 'Arama sırasında bir hata oldu ya pff :/'
    }
  } finally {
    state.searching = false
  }
}

const handleInput = () => {
  state.searching = true

  if (state.searchQuery === '') {
    state.searching = false
    state.searchResult = []
    state.searchingErrorMessage = ''
  }

  window.clearTimeout(state.debounceTimeout)

  state.debounceTimeout = setTimeout(() => {
    if (state.searchQuery !== '') {
      handleSearchUser()
    }
  }, 300)
}

onMounted(() => {
  if (searchInputRef.value.inputRef) {
    searchInputRef.value.inputRef.focus()
  }
})
</script>
