<template>
  <span
    class="flex flex-col items-center justify-between"
    :class="{
      'order-1 sm:order-none': order === 1,
      'order-2 sm:order-none -mt-12 sm:mt-0': order === 2,
      'order-3 sm:order-none': order === 3,
    }"
  >
    <span
      class="block w-12 h-12 bg-gray-300 animate-pulse"
      :class="{
        'sm:w-16 sm:h-16': order === 2,
        'sm:w-8 sm:h-8': order === 3,
      }"
    />

    <span
      class="block w-10 bg-gray-300 animate-pulse mt-2"
      :class="{
        'h-5': order === 1,
        'h-7': order === 2,
        'h-4': order === 3,
      }"
    />

    <span
      class="block w-14 h-3 bg-gray-300 animate-pulse mt-2"
    />
  </span>
</template>

<script setup>
const { order } = defineProps({
  order: {
    type: Number,
    required: true,
  }
})
</script>
