<template>
  <span
    class="flex flex-col items-center justify-between text-center"
    :class="{
      'order-1 sm:order-none': order === 1,
      'order-2 sm:order-none -mt-12 sm:mt-0': order === 2,
      'order-3 sm:order-none': order === 3,
    }"
  >
    <span
      class="block w-12 h-12"
      :class="[getRandomColorClass(), {
        'sm:w-16 sm:h-16': order === 2,
        'sm:w-8 sm:h-8': order === 3,
      }]"
    />

    <h6
      class="font-bold mt-2"
      :class="{
        'text-lg': order === 2,
        'text-xs': order === 3,
      }"
    >{{ language.name }}</h6>

    <span
      class="text-sm text-gray-600 mt-2"
      :class="{
        'text-[13px]': order === 1,
        'text-xs': order === 3,
      }"
    >{{ prettyBytes(language.size) }}</span>
  </span>
</template>

<script setup>
import prettyBytes from 'pretty-bytes'

const { language, order, size } = defineProps({
  language: {
    type: Object,
    required: true,
  },

  order: {
    type: Number,
    required: true,
  }
})

const getRandomColorClass = () => {
  const colorClasses = [
    'bg-slate-500',
    'bg-gray-500',
    'bg-zinc-500',
    'bg-neutral-500',
    'bg-stone-500',
    'bg-red-500',
    'bg-orange-500',
    'bg-amber-500',
    'bg-yellow-500',
    'bg-lime-500',
    'bg-green-500',
    'bg-emerald-500',
    'bg-teal-500',
    'bg-cyan-500',
    'bg-sky-500',
    'bg-blue-500',
    'bg-indigo-500',
    'bg-violet-500',
    'bg-purple-500',
    'bg-fuchsia-500',
    'bg-pink-500',
    'bg-rose-500',
  ]

  return colorClasses[Math.floor(Math.random() * colorClasses.length)]
}
</script>
