<template>
  <button
    class="flex items-center justify-center gap-4 text-white bg-[#1a1a1a] rounded py-2 px-8"
    @click="handleDownloadScreenshot"
  >
    <svg
      class="w-5 h-5"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path fill="currentColor" d="M9 3h6l2 2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4l2-2zm3 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm0-2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z" />
    </svg>

    <span>Take a screenshot</span>
  </button>
</template>

<script setup>
import html2canvas from 'html2canvas'
import download from 'downloadjs'

const handleDownloadScreenshot = () => {
  html2canvas(document.body).then((canvas) => {
    const base64 = canvas.toDataURL('image/png')

    download(base64, 'screenshot.png', 'image/png')
  })
}
</script>