<template>
  <span class="relative block w-full h-10 bg-white ring-2 ring-[#d8d8d8]">
    <svg
      class="absolute left-2.5 top-2.5 w-5 h-5 text-[#24292f]"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"
      />
    </svg>

    <input
      class="w-full h-full py-2 pl-10 pr-4 bg-transparent focus:outline-none"
      type="search"
      placeholder="Search..."
      ref="inputRef"
      :value="modelValue"
      @input="handleInput"
    />
  </span>
</template>

<script setup>
import { ref, defineEmits, defineProps } from 'vue'

const emit = defineEmits(['update:modelValue'])

const props = defineProps(['modelValue'])

const inputRef = ref(null)

defineExpose({
  inputRef
})

const handleInput = ($event) => {
  emit('update:modelValue', $event.currentTarget.value)
}
</script>