<template>
  <span class="flex items-center gap-3 rounded-lg p-2">
    <span class="block w-10 h-10 rounded-full bg-gray-300 animate-pulse" />

    <span class="flex flex-col gap-1">
      <span class="block w-20 h-3 rounded-full bg-gray-300 animate-pulse" />

      <span class="block w-9 h-2.5 rounded-full bg-gray-300 animate-pulse" />
    </span>
  </span>
</template>
