<template>
  <div class="flex flex-col items-center justify-center gap-3 p-4">
    <span class="block w-24 h-7 bg-gray-300 animate-pulse rounded" />

    <span class="block w-24 h-24 bg-gray-300 animate-pulse rounded-full" />

    <span class="block w-16 h-4 bg-gray-300 animate-pulse rounded" />
  </div>
</template>