<template>
  <div class="flex flex-col items-center justify-center gap-3 p-4">
    <h1 class="text-lg font-bold">{{ user.name }}</h1>

    <figure class="w-24 h-24 rounded-full bg-gray-300">
      <img
        class="w-full h-full rounded-full"
        :src="user.avatar_url_blob ? user.avatar_url_blob : user.avatar_url"
      />
    </figure>

    <span class="leading-none italic text-gray-400">{{ `@${user.login}` }}</span>
  </div>
</template>

<script setup>
import { defineProps } from 'vue'

const { user } = defineProps(['user'])
</script>
