<template>
  <router-link
    class="flex items-center gap-3 hover:bg-gray-100 rounded-lg p-2 overflow-hidden"
    :to="`/profile/${user.login}`"
  >
    <figure class="flex-shrink-0 w-10 h-10 rounded-full bg-gray-300">
      <img
        class="w-full h-full rounded-full"
        :src="user.avatar_url"
      />
    </figure>

    <span class="flex flex-col gap-1">
      <h4 class="text-sm font-bold leading-none">{{ `@${user.login}` }}</h4>

      <span class="text-xs leading-none">{{ user.type }}</span>
    </span>
  </router-link>
</template>

<script setup>
import { defineProps } from 'vue'

const { user } = defineProps(['user'])
</script>