<template>
  <header class="w-full h-52 flex items-end justify-center bg-[#e6e6e6]" />
    <button
      class="absolute left-4 top-4 w-10 h-10 flex items-center justify-center rounded-full hover:bg-black active:bg-black hover:bg-opacity-5 active:bg-opacity-10"
      data-html2canvas-ignore
      @click="router.back()"
      v-if="showBackButton"
    >
      <svg
        class="w-5 h-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path fill="currentColor" d="M7.828 11H20v2H7.828l5.364 5.364-1.414 1.414L4 12l7.778-7.778 1.414 1.414z" />
      </svg>
    </button>

  <slot />
</template>

<script setup>
import { useRouter } from 'vue-router'

const { showBackButton } = defineProps({
  showBackButton: {
    type: Boolean,
    default: () => false,
  }
})

const router = useRouter()
</script>
